@{
    ViewData["Title"] = "Explore";
}

<div class="text-center">
    <h1 class="display-4">Exploring</h1>
    <p>To explore you need a d6 and a deck of cards.</p>
    <p>You come upon a new planet. Roll a d6 to determine how many features there are for you to discover.</p>
    <p>Draw cards - face down - from the deck equal to the d6.</p>
    <p>Roll the d6 again to flip over a card:</p>
    <p>On a 1-2 it is arduous to get to.</p>
    <p>On a 3-4 you come upon it suddenly.</p>
    <p>On a 5-6 you spot it as you are resting.</p>
    <p>The suit and rank determine the discovery.</p>
    <p>In your ship’s log (a small journal if you have one), record a short description
and your reaction in a few sentences, and roll for the next
card.</p>
<p>Each time you complete a planet, give it a number or a
name, and find a new planet.</p>
<p>Play until you are tired, and want to return home. If you
want to remember your travels, save the journal. If the
memories bring you pain, burn it.</p>
<p>⯁ Diamonds</p>
<p>Diamonds are living beings: People like or unlike you, fish,
dinosaurs, wolves, birds, giant insects, etc.</p>
<p>♣ Clubs</p>
<p>Clubs are plants and other immobile forms of life: Towering
trees, carnivorous pitchers, giant ferns, glowing weeds,
floating flowers, oozing mushrooms, etc.</p>
<p>♥ Hearts</p>
<p>Hearts are ruins: Mysterious obelisks, vine-covered temples,
abandoned dwellings for people bigger than you, a wrecked
spaceship, etc.</p>
<p>♠ Spades</p>
<p>Spades are natural phenomena: Huge crystal formations,
mirages, vividly colored lightning, strange clouds, rocks
eroded in strange shapes, veins of precious metals, etc.</p>
<p>A : In a field taller than you.</p>
<p>2 : Under the light of the moon(s).</p>
<p>3 : By a gentle river.</p>
<p>4 : In a steep canyon.</p>
<p>5 : In a treetop.</p>
<p>6 : On the snowy peak of a mountain.</p>
<p>7 : Near a volcano.</p>
<p>8 : On a glacier.</p>
<p>9 : Deep underground.</p>
<p>10 : On a cliff face.</p>
<p>J : In the desert.</p>
<p>Q : In deep water.</p>
<p>K : Floating in the air.</p>
</div>
