@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Alone Among the Stars</h1>
    <h2>By Takuma Okada | noroadhome.itch.io</h2>
    <p>A solo roleplaying game about exploring fantastic planets.</p>
    <p>You are a solitary adventurer, hopping from planet to planet
    exploring.</p>
    <p>Each world has unique features for you to discover
    and record.</p>
    <a class="button" asp-area="" asp-controller="Home" asp-action="Explore">Explore?</a>
</div>
