{% extends "base.html" %}
{% block all_books %}nav-item active{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <!-- card from Bootstrap (https://getbootstrap.com/docs/4.6/components/card/), customized for this site -->
    <div class="card shadow p-3 mb-5 bg-white rounded" id="game-card">
      <div class="card-body">
        <h1 class="card-title">You come upon a new planet</h1>
        <p class="card-text">Deck retrieved: {{ deck_retrieved }}</p>
        <p class="card-text">Deck id: {{ deck_id }}</p>
        <p class="card-text">Card drawn: {{ card_drawn }}</p>
        <p class="card-text">Card: {{ card }}</p>
        <p class="card-text">Your discovery: living beings: people like or unlike you, fish,
          dinosaurs, wolves, birds, giant insects, etc., </p>
          <p class="card-text">The location: in a field taller than you.</p>
          <p class="card-text">Random number: {{ random_number }}</p>
          <p class="card-text">{{ discovered_how }}</p>
          <div class="form-group">
            <label for="discoverylog"><i class="fas fa-file-alt"></i> Discovery Log</label>
            <textarea
              class="validate form-control"
              id="discoverylog"
              name="discoverylog"
              required
              placeholder="Record a short description and your reaction in a few sentences "
            ></textarea>
          </div>          
        <a href="{{ url_for('start_game') }}"
        class="btn btn-success"
        >Keep travelling <i class="fas fa-space-shuttle"></i></a>        
        <a href="{{ url_for('get_books') }}" class="btn btn-danger mr-auto"
        >Return home <i class="fas fa-times-circle"></i
      ></a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="text-center">
          Want to create an account?
          <a href="{{ url_for('register') }}">Register Your Account</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}